.Menu_bottom {
  display: flex;
  background-color: rgb(246, 248, 250);
  height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.Menu_bottom img {
  width: 20px;
}
