.Publications {
  height: 400px;
  margin: 10px 10px 50px 10px;
}

.Publications .Menu {
  height: 35px;
  display: flex;
  margin-bottom: 10px;
}
.Publications .Menu picture {
  width: 50%;
  border: 1px solid rgb(163, 157, 157);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Publications .Menu picture img {
  width: 20px;
}

.Publications .Publications_post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: 115px;
  align-items: stretch;
  justify-content: stretch;
}
.Publications .Publications_post img {
  width: 100%;
  object-fit: cover;
}
